# LiteLLM
LITELLM_MASTER_KEY=change_me

# Langfuse
LANGFUSE_SECRET_KEY=change_me
LANGFUSE_PUBLIC_KEY=change_me

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=langfuse

# Redis

REDIS_PASSWORD=change_me